.about_spotlight_bg::before {
    content: '';
    position: absolute;
    /* background: linear-gradient(45deg, #00000047, transparent); */
    background: #000000bf;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.joinus-sec::before {
    content: '';
    /* background: #01307654; */
    background: black;
    opacity: 0.75;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}





.about_intro_sec ul li {
    list-style: none;
    position: relative;
    font-size: 18px;
    line-height: 26px;
}

.about_intro_sec ul {
    margin: 15px 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about_intro_sec ul li::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 7px;
    width: 15px;
    height: 15px;
    /* background: url(../../../assets/paper-plane-solid-full.svg); */
    background: url(../../assets/paper-plane-solid-full.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}

@media (max-width: 600px) {
    .about_intro_sec ul li {
        font-size: 16px;
    }
}