.blog_loader {
    flex-direction: row;
}

.blog_loader .skeleton-card {
    width: 50%;
    max-height: 300px;
    background: white;
    padding: 0;
    border-radius: 12px;
    display: flex;
    align-items: start;
    flex-direction: row;
    gap: 15px;
    transition: all .25s ease-in-out;
}

.blog_loader .skeleton {
    background: linear-gradient(90deg,
            #eee 25%,
            #ddd 37%,
            #eee 63%);
    background-size: 400% 100%;
    animation: shimmer 1.2s infinite;
    border-radius: 8px;
    transition: all 1s ease-in-out;
}

.blog_loader .skeleton-img {
    width: 100%;
    height: 300px;
    border-radius: 12px 0 0 12px;
}

.blog_loader .skeleton-cat {
    width: 35%;
    height: 30px;
    margin-bottom: 8px;
}

.blog_loader .skeleton-title {
    width: 94%;
    height: 18px;
}

.blog_loader .skeleton-title.skeleton-title-2 {
    width: 55%;
    height: 18px;
}

.blog_loader .skeleton-tags {
    width: 65%;
    height: 20px;
    margin-top: 8px;
}


@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}



/* >>>>>>>>>>>>>>>>>>>> Media Queries */
@media (max-width: 1024px) {
    .blog_loader {
        flex-direction: column;
    }

    .blog_loader .skeleton-card {
        min-width: 250px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .blog_loader .skeleton-card {
        min-width: 400px;
        width: 100%;
    }
}

@media (max-width: 550px) {
    .blog_loader .skeleton-card {
        min-width: 200px;
        width: 100%;
    }

    .blog_loader .skeleton-img {
        width: 100%;
        height: 220px;
        border-radius: 12px 12px 0 0px;
    }

    .blog_loader .skeleton-card {
        max-height: 100%;
        flex-direction: column;

    }
}
