.cart-tab-desc {
  transition: overflow 5s ease-in-out , max-height 5s ease-in-out;
  opacity: 1;
  max-height: 1000px;
  overflow: hidden;
  pointer-events: all;
}

.cart-tab-desc.hide {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  transition: overflow 5s ease-in-out , max-height 5s ease-in-out;
}
