@media (min-width: 1440px) {
    .prodSlider .swiper {
        height: 540px;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .prodSlider .swiper {
        height: 500px;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    .prodSlider .swiper {
        height: 520px;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .prodSlider .swiper {
        height: 540px;
    }
}

@media (min-width: 426px) and (max-width: 500px) {
    .prodSlider .swiper {
        height: 640px;
    }
}

@media (min-width: 391px) and (max-width: 425px) {
    .prodSlider .swiper {
        height: 580px;
    }
}

@media (min-width: 361px) and (max-width: 390px) {
    .prodSlider .swiper {
        height: 525px;
    }
}

@media (max-width: 360px) {
    .prodSlider .swiper {
        height: 510px;
    }
}
