/* .onScrollBtn {
    bottom: 50px;
    opacity: 1;
    pointer-events: all;
}

.scrollToTopBtn {
    transition: all .45s ease-in-out;
} */


.onScrollBtn {
    bottom: 50px;
    right: 20px;
    opacity: 1;
    pointer-events: all;
    transition: all .25s ease-in-out;
}

.scrollToTopBtn,
.scrollToTopBtn svg {
    transition: all .25s ease-in-out;
}

.scrollToTopBtn:active {
    scale: 0.92;
    transition: all .25s ease-in-out;
}
