.AccordionRoot {
	width: 100%;
	background-color: var(--mauve-6);
	box-shadow: 0 2px 10px var(--black-a4);
}

.AccordionItem {
	overflow: hidden;
	margin-top: 1px;
	box-shadow: -5px 5px 6px 0px #0000000d;
}

.AccordionItem:first-child {
	margin-top: 0;
}

.AccordionItem:focus-within {
	position: relative;
	z-index: 1;
	box-shadow: 0 0 0 2px var(--mauve-12);
}

.AccordionHeader {
	display: flex;
}

.AccordionTrigger {
	font-family: inherit;
	background-color: transparent;
	padding: 0 20px;
	height: 45px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	line-height: 1;
	color: var(--violet-11);
	box-shadow: 0 1px 0 var(--mauve-6);
	background-color: white;
}

.AccordionTrigger:hover {
	background-color: var(--mauve-2);
}

.AccordionContent {
	overflow: hidden;
	font-size: 15px;
	color: var(--mauve-11);
	background-color: var(--mauve-2);
}

.AccordionContent[data-state="open"] {
	animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContent[data-state="closed"] {
	animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
	padding: 15px 20px;
}

.AccordionItem .accord_trigger svg {
	transition: all .4s ease-in-out;
}

.AccordionItem[data-state="open"] .accord_trigger svg {
	transition: all .4s ease-in-out;
	rotate: 180deg;
}

.AccordionItem {
	transition: all .4s ease-in-out;
}

.AccordionItem[data-state="open"] {
	transition: all .4s ease-in-out;
	background-color: #b5d3ff;
}



@keyframes slideDown {
	from {
		height: 0;
	}

	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-accordion-content-height);
	}

	to {
		height: 0;
	}
}
