.add_to_cart_btn,
.prod_card,
.prod_card:hover {
    transition: all .25s ease-in-out;
}

.prod_card {
    background-color: white;
}

.prod_card:hover {
    box-shadow: 0px 0px 12px 1px #00000040;
    transform: translate(0px, -5px);
}

.prod_card img,
.prod_card img:hover {
    transition: all .25s ease-in-out;
}

.image-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    line-height: 0;
}

.image-wrapper img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .50s ease-in-out;
}

.prod_card:hover .image-wrapper img:nth-child(2) {
    opacity: 1;
    transition: all .50s ease-in-out;
}

.add_to_cart_btn {
    opacity: 1;
    pointer-events: all;
}

.item_added_toolTip::after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #72aec8;
    position: absolute;
    bottom: -9px;
    right: 95px;
    transform: rotate(45deg) translate(0px, 0px);
}

.item_added_toolTip {
    transition: all .25s ease-in-out;
}

@media (min-width: 1200px) and (max-width: 1280px) {
    .prod_card {
        width: 32%;
    }

    .prodSlider .prod_card {
        width: 100%;
    }
}

/* ENDS CSS */
