.contact_icon_boxes,
.contact_icon_boxes svg,
.contact_icon_boxes h5,
.contact_icon_boxes p,
.contact_icon_boxes a {
    transition: all .35s ease-in-out;
}


.contact_icon_boxes svg {
    fill: #272727;
}


.contact_icon_boxes .group h5,
.contact_icon_boxes .group p,
.contact_icon_boxes .group a {
color: #272727;
}

.contact_icon_boxes .group:hover h5,
.contact_icon_boxes .group:hover p,
.contact_icon_boxes .group:hover a {
    transition: all .35s ease-in-out;
    color: var(--primary-color);
}


.contact_icon_boxes .group:hover svg {
    fill: var(--primary-color);
}


.contact_icon_boxes .iconStyle {
    width: fit-content;
    padding: 25px;
    border-radius: 50px;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px dashed #272727;
    transition: all .35s ease-in-out;
    background: #f4f4f4;
}



.contact_icon_boxes .group {
    position: relative;
    transition: all 0.35s ease-in-out;
    background: linear-gradient(90deg, #272727 50%, transparent 50%),
        linear-gradient(90deg, #272727 50%, transparent 50%),
        linear-gradient(0deg, #272727 50%, transparent 50%),
        linear-gradient(0deg, #272727 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 2px, 20px 2px, 2px 20px, 2px 20px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    /* animation: dash 8s linear infinite; */
}


.contact_icon_boxes .group:hover {
    animation: dash 8s linear infinite;
    transition: all 0.35s ease-in-out;
    background: linear-gradient(90deg, var(--primary-color) 50%, transparent 50%),
        linear-gradient(90deg, var(--primary-color) 50%, transparent 50%),
        linear-gradient(0deg, var(--primary-color) 50%, transparent 50%),
        linear-gradient(0deg, var(--primary-color) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    /* background-size: 24px 2px, 24px 2px, 2px 24px, 2px 24px; */
    background-size: 18px 2px, 18px 2px, 2px 18px, 2px 18px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
}


.contact_icon_boxes .group:hover>.iconStyle {
    border: 2px dashed #0d6efd;
    transition: all .35s ease-in-out;
}



@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}



/* @keyframes colorChange {
    to {
        transition: all .35s ease-in-out;
        background: linear-gradient(90deg, var(--primary-color) 50%, transparent 50%),
            linear-gradient(90deg, var(--primary-color) 50%, transparent 50%),
            linear-gradient(0deg, var(--primary-color) 50%, transparent 50%),
            linear-gradient(0deg, var(--primary-color) 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 26px 2px, 26px 2px, 2px 26px, 2px 26px;
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
} */



/* .group:hover {
    box-shadow: -2px 4px 12px 1px #0000003d;
} */


.anim_border {
    /* height: 100%; */
    /* height: 160px;
    width: 100%;
    background: linear-gradient(90deg, black 50%, transparent 50%),
        linear-gradient(90deg, black 50%, transparent 50%),
        linear-gradient(0deg, black 50%, transparent 50%),
        linear-gradient(0deg, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    border-radius: 5px;
    padding: 10px;
    animation: dash 5s linear infinite; */
}




@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) {
    .iconStyle {
        left: 30%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .iconStyle {
        left: 30%;
    }
}