.contact_icon_boxes .cont_icon_box a {
    display: block;
    position: relative;
    transition: all .35s ease-in-out;
    width: fit-content;
}

.contact_icon_boxes .cont_icon_box a:hover {
    color: var(--primary-color);
    transition: all .35s ease-in-out;
}

.contact_icon_boxes .cont_icon_box a::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--primary-color);
    display: block;
    position: absolute;
    border-radius: 30px;
    transition: all .35s ease-in-out;
}

.contact_icon_boxes .cont_icon_box a:hover::after {
    width: 100%;
    transition: all .35s ease-in-out;
}

.contact_icon_boxes .cont_icon_box a.active::after {
    width: 100%;
    transition: all .35s ease-in-out;
}


.input_msg {
    box-shadow: -2px 4px 12px 0px #0000002e;
}

/* input_msg */