.TabsRoot.blogs_info_tabs button.TabsTrigger {
    border-bottom: 1px solid #1a1a1a;
    position: relative;
}

.TabsRoot.blogs_info_tabs button.TabsTrigger[aria-selected="true"] {
    color: var(--primary-color);
}

.TabsRoot.blogs_info_tabs button.TabsTrigger[aria-selected="true"]::after {
    content: "";
    display: flex;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -1px;
}

@media (max-width: 600px) {
    .TabsRoot.blogs_info_tabs .TabsList {
        border: 1px solid #1a1a1a;
    }

    .TabsRoot.blogs_info_tabs button.TabsTrigger {
        width: 100%;
        text-align: left;
        padding: 15px;
        border: none;
    }

    .TabsRoot.blogs_info_tabs button.TabsTrigger:not(:last-child) {
        border-bottom: 1px solid #1a1a1a;
    }

    .TabsRoot.blogs_info_tabs button.TabsTrigger[aria-selected="true"] {
        background-color: var(--primary-color);
        color: white;
    }

    .TabsRoot.blogs_info_tabs button.TabsTrigger[aria-selected="true"]::after {
        display: none;
    }
}
