header.head_foot_cont_full,
header.head_foot_cont_full * {
    transition: all .45s ease-in-out;
}

header.head_foot_cont_full .desktop_header ul li a.active {
    font-family: var(--outfit-font);
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
}

header.head_foot_cont_full.scrolledHeader .desktop_header ul li a.active {
    color: var(--primary-color);
}

header.head_foot_cont_full.unScrolledHeader .desktop_header ul li a.active {
    color: white;
}

header.head_foot_cont_full.scrolledHeader .desktop_header ul li a:hover {
    color: var(--primary-color);
}

.desktop_header ul li a {
    display: block;
    position: relative;
}

.desktop_header ul li a::after {
    transition: all .45s ease-in-out;
    content: '';
    width: 0%;
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
    margin-top: 28px;
    border-radius: 30px;
}

header.head_foot_cont_full .desktop_header ul li a:hover::after {
    transition: all .45s ease-in-out;
    width: 100%;
}

header.head_foot_cont_full.scrolledHeader .desktop_header ul li a:hover::after {
    transition: all .45s ease-in-out;
    background-color: var(--primary-color);
}

header.head_foot_cont_full.unScrolledHeader .desktop_header ul li a:hover::after {
    transition: all .45s ease-in-out;
    background-color: white;
}

header.head_foot_cont_full .desktop_header ul li a.active::after {
    transition: all .45s ease-in-out;
    width: 100%;
}

header.head_foot_cont_full.scrolledHeader .desktop_header ul li a.active::after {
    transition: all .45s ease-in-out;
    background-color: var(--primary-color);
}

header.head_foot_cont_full.unScrolledHeader .desktop_header ul li a.active::after {
    transition: all .45s ease-in-out;
    background-color: white;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> For White Bg Pages */
body.whiteBgPages header.head_foot_cont_full {
    background-color: white;
}

body.whiteBgPages header.head_foot_cont_full .logoCont path {
    fill: var(--primary-color);
}

body.whiteBgPages header.head_foot_cont_full .desktop_header ul li a {
    color: black;
}

body.whiteBgPages header.head_foot_cont_full .iconsCont .search_btn svg path {
    fill: black;
}

body.whiteBgPages header.head_foot_cont_full .iconsCont .wishlist-box svg path {
    stroke: black;
}

body.whiteBgPages header.head_foot_cont_full .iconsCont .cart-box svg g {
    stroke: black;
}

body.whiteBgPages header.head_foot_cont_full .desktop_header ul li a.active {
    color: var(--primary-color);
}

body.whiteBgPages header.head_foot_cont_full .desktop_header ul li a:hover {
    color: var(--primary-color);
}

body.whiteBgPages header.head_foot_cont_full.scrolledHeader .desktop_header ul li a.active::after,
body.whiteBgPages header.head_foot_cont_full.scrolledHeader .desktop_header ul li a:hover::after,
body.whiteBgPages header.head_foot_cont_full.unScrolledHeader .desktop_header ul li a.active::after,
body.whiteBgPages header.head_foot_cont_full.unScrolledHeader .desktop_header ul li a:hover::after {
    transition: all .45s ease-in-out;
    background-color: var(--primary-color);
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mobile Header CSS */
.mob_nav,
.mob_nav * {
    transition: all .45s ease-in-out;
}

.mob_nav {
    border-top: 1px solid #8787876e;
    border-bottom: 1px solid #8787876e;
    margin-block: 35px;
    padding-inline: 30px;
}

.mob_nav>ul {
    padding-block: 20px;
}

.mob_nav ul li {
    padding-left: 5px;
    padding-block: 10px;
}

.mob_nav ul ul {
    padding-left: 20px;
}

.mob_nav ul li a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mob_nav ul li a:hover,
.mob_nav ul li a.active {
    color: var(--primary-color);
    font-weight: 400;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Media Queries */
@media (max-width: 1000px) {
    .head_foot_cont_full {
        background-color: white;
    }
}

@media (min-width: 550px) and (max-width: 800px) {
    .mob_nav {
        margin-block: 50px;
        padding-inline: 40px;
    }

    .mob_nav>ul {
        padding-block: 32px;
    }
}
