div.feat_prod_loader_home_pg .skeleton-card {
    width: 340px;
}

.skeleton-card {
    background: white;
    padding: 25px 20px;
    border-radius: 12px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    transition: all .25s ease-in-out;
}

.skeleton {
    background: linear-gradient(90deg,
            #eee 25%,
            #ddd 37%,
            #eee 63%);
    background-size: 400% 100%;
    animation: shimmer 1.2s infinite;
    border-radius: 8px;
    transition: all 1s ease-in-out;
}

.skeleton-img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.skeleton-badge {
    width: 120px;
    height: 20px;
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: #dfdfdf;
    background-size: 400% 100%;
    animation: shimmer 1.2s infinite;
    border-radius: 6px;
    transition: all 1s ease-in-out;
}

.skeleton-cat {
    width: 35%;
    height: 14px;
}

.skeleton-title {
    width: 100%;
    height: 15px;
}

.skeleton-title.skeleton-title-2 {
    width: 75%;
    height: 15px;
}

.skeleton-price {
    width: 40%;
    height: 30px;
}

.skeleton-btn {
    width: 100%;
    height: 40px;
}



@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}



/* >>>>>>>>>>>>>>>>>>>> Media Queries */
@media (max-width: 1024px) {
    .skeleton-card {
        min-width: 250px;
        width: 100%;
    }

    .skeleton-card:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    div.feat_prod_loader_home_pg .skeleton-card {
        display: flex;
        min-width: auto;
        width: 100%;
    }

    div.feat_prod_loader_home_pg .skeleton-card:last-child,
    div.feat_prod_loader_home_pg .skeleton-card:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 550px) {
    div.feat_prod_loader_home_pg {
        flex-direction: column;
    }

    div.feat_prod_loader_home_pg .skeleton-card {
        display: flex;
        min-width: auto;
        width: 100%;
    }

    div.feat_prod_loader_home_pg .skeleton-card:nth-last-child(3) {
        display: none;
    }
}
