.container_layout {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

@media (min-width: 551px) and (max-width: 1024px) {
    .container_layout {
        padding: 0 30px;
    }
}

@media (max-width: 550px) {
    .container_layout {
        padding: 0 20px;
    }
}
