/* >>>>>>>>>>>>> Removing Arrows from the Input bar */
#qunt_val::-webkit-outer-spin-button,
#qunt_val::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart_card_empty {
    box-shadow: -3px 3px 14px 0px #0000000d;
}

/* >>>>>>>>>>>>>>>>>>>>>>> Button Transitions */
/* qnty_btns */