footer ul li a {
    display: block;
    position: relative;
    transition: all .35s ease-in-out;
    width: fit-content;
}

footer ul li a:hover {
    color: var(--primary-color);
    transition: all .35s ease-in-out;
}

footer ul li a::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--primary-color);
    display: block;
    position: absolute;
    border-radius: 30px;
    transition: all .35s ease-in-out;
}

footer ul li a:hover::after {
    width: 100%;
    transition: all .35s ease-in-out;
}

footer ul li a.active::after {
    width: 100%;
    transition: all .35s ease-in-out;
}

.socials a,
.socials a svg {
    transition: all .35s ease-in-out;
}

.socials a:hover svg {
    fill: var(--primary-color);
    transition: all .35s ease-in-out;
}
