.home_spotlight_slides_bg::before {
    content: '';
    position: absolute;
    background: #221f2dc4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home_pg_spot_slider .swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
    border: 0;
    outline: 0;
    width: 12px;
    height: 12px;
    border-radius: 30px;
}

.home_pg_spot_slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
    width: 35px;
}
