.breadCrumbs a::after {
    content: ">";
    margin: 0px 10px;
}

.breadCrumbs:last-child a::after {
    display: none;
}

.breadCrumbs:last-child a {
    cursor: auto;
}

.breadCrumbs a {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--poppins-font);
    font-weight: 400;
}
