.blog-card {
    box-shadow: -4px 4px 14px 0px #6f6f6f3b;
    overflow: hidden;
}

.blog-card,
.blog-card * {
    transition: all .25s ease-in-out;
}

.blog-card .cta {
    position: relative;
    left: -25px;
}

.blog-card .cta svg {
    opacity: 0;
}

.blog-card:hover .cta {
    left: 0;

    p {
        color: var(--primary-color);
    }

    svg {
        opacity: 1;
        fill: var(--primary-color);
    }
}

.blog-card:hover img.blog_feat_img {
    scale: 1.06;
}

/* tab:h-[275px] h-[510px]  */
@media (min-width: 768px) {
    .blog-card {
        height: 275px;
    }
}

@media (max-width: 767px) {
    .blog-card .cta {
        left: 0;

        p {
            color: var(--primary-color);
        }

        svg {
            opacity: 1;
            fill: var(--primary-color);
        }
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .blog-card {
        height: 510px;
    }
}