@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-primary: "Outfit", sans-serif;
    --font-body: "Poppins", sans-serif;
    --color-primary: #0D6EFD;
    --color-para-black: #1a1a1a;
    --color-plain-bg-white: #f4f4f4;

    /* --breakpoint-gt-mob: 600px; */
    /* initial value works till 767 */

    /* tab from 768 to 1023 */
    --breakpoint-tab: 768px;

    /* gt-tab min 1024 to 1200   */
    --breakpoint-gt-tab: 1024px;
    /* desktop min 1201 no max limit  */
    --breakpoint-desktop: 1201px;
}


:root {
    --inter-font: "Inter", sans-serif;
    --outfit-font: "Outfit", sans-serif;
    --montserrat-font: "Montserrat", sans-serif;
    --poppins-font: "Poppins", sans-serif;
    --primary-color: #0D6EFD;
    --para-black-color: #1a1a1a;
    --plain-bg-white-color: #f4f4f4;
    --black-color: black;
    --white-color: white;
}


html {
    font-family: Poppins;
    scroll-behavior: smooth;
}


body {
    background-color: #F4F4F4;
    overflow-x: hidden;
}


body.whiteBgPages .layout_container {
    margin-top: 85px;
}


/* >>>>>>>>>>>>>>>>>>>>>>>> LENIS Req CSS */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

/* >>>>>>>>>>>>>>>>>>>>>>>> ENDS LENIS Req CSS */


@media (min-width: 768px) and (max-width: 1023px) {
    body.whiteBgPages .layout_container {
        margin-top: 102px;
    }
}


/* // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Enable It Later */
/* ::-webkit-scrollbar {
    background: rgb(136, 136, 136);
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #0D6EFD;
    border-radius: 26px;
} */


button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}


/* Hide native chevron */
.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-wrapper::after {
    content: "";
    background-image: url(./assets/icons/chevron_down.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


.head_foot_cont {
    /* background-color: yellowgreen !important; */
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Information (Policies) Pages Styles */
.info_pages {
    display: flex;
    align-items: flex-start;
    padding: 80px 50px !important;
}

.info_pages.help_page {
    display: flex;
    align-items: flex-start;
    padding: 80px 50px 0 !important;
}

.info_pages h1 {
    font-family: var(--outfit-font);
    font-size: 45px;
    line-height: 55px;
    font-weight: 300;
    padding-bottom: 20px;
}

.info_pages.help_page h1 {
    padding: 0;
}

.info_pages h2 {
    font-family: var(--outfit-font);
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    padding-bottom: 8px;
    padding-top: 10px;
}

.info_pages h2:first-of-type {
    padding-top: 0 !important;
}

.info_pages p {
    font-family: var(--poppins-font);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-bottom: 10px;
}

.info_pages p:last-child {
    padding: 0;
}

.info_pages ul {
    margin-left: 26px;
    padding: 10px 0;
}

.info_pages>ul ul {
    list-style-type: disc;
}

.info_pages ul li {
    padding: 5px 0;
}

.info_pages>ul>li {
    list-style: none;
    position: relative;
}

.info_pages>ul>li::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 10px;
    width: 15px;
    height: 15px;
    background: url(./assets/paper-plane-solid-full.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}

.info_pages p:has(+ ul) {
    padding-bottom: 0;
}

.info_pages a {
    color: var(--primary-color);
}

.info_pages a:hover {
    text-decoration: underline;
}

.spot_title::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background: white;
    vertical-align: super;
    margin-right: 16px;
}


@media (min-width: 1024px) and (max-width: 1200px) {
    .info_pages {
        padding: 80px 30px !important;
    }

    .spot_title::before {
        width: 50px;
    }
}

@media (min-width: 601px) and (max-width: 1023px) {
    .spot_title::before {
        width: 40px;
        margin-right: 12px;
    }

    .info_pages {
        padding: 60px 30px !important;
    }

    .info_pages h1 {
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width: 600px) {
    .spot_title::before {
        width: 40px;
        margin-right: 12px;
    }

    .info_pages {
        padding: 60px 20px !important;
    }

    .info_pages h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .info_pages h2 {
        font-size: 20px;
        line-height: 26px;
    }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> ENDS Information (Policies) Pages Styles */


@media (max-width: 767px) {
    #newsletter_submit_btn {
        width: 100%;
    }
}


@media (min-width: 769px) and (max-width: 1279px) {
    .head_foot_cont#collapseMenu {
        padding: 0;
    }
}


.orderProcessLoader {
    width: 23px;
    height: 23px;
    border: 2px solid #ffffff;
    border-bottom-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.order_sum {
    box-shadow: -3px 3px 14px 0px #0000000d;
}