.cursor-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

.cursor-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
}
