.TabsRoot.prods_info_tabs button.TabsTrigger {
  border-bottom: 1px solid #1a1a1a;
  position: relative;
}

.TabsRoot.prods_info_tabs button.TabsTrigger[aria-selected="true"] {
  color: var(--primary-color);
}

.TabsRoot.prods_info_tabs button.TabsTrigger[aria-selected="true"]::after {
  content: "";
  display: flex;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -1px;
}
