/* Base input */
.slider {
  -webkit-appearance: none;
  /* Remove default styling */
  appearance: none;
  width: 100%;
  height: 4px;
  background: #ddd;
  border-radius: 8px;
  outline: none;
  transition: background 0.3s;
}

.slider:hover {
  background: #ccc;
}

/* Chrome, Safari, Edge - Track */
.slider::-webkit-slider-runnable-track {
  height: 4px;
  background: #0D6EFD;
  border-radius: 8px;
}

/* Thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #0D6EFD;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  /* Centers the thumb */
  transition: 0.2s;
}

.slider::-webkit-slider-thumb:hover {
  background: #3b82f6;
  transform: scale(1.2);
}

/* Firefox */
.slider::-moz-range-track {
  height: 4px;
  background: #0D6EFD;
  border-radius: 8px;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #4f46e5;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.slider::-moz-range-thumb:hover {
  background: #3b82f6;
  transform: scale(1.2);
}


.checkbox-cat input[type="checkbox"] {
  width: 17px;
  height: 17px;
}

.checkbox-cat input[type="checkbox"]:checked {
  accent-color: #0D6EFD;
}


/* input[type="checkbox"] {
  width: 3em;
  height: 3rem;
  accent-color: green;
} */


.filter_by_mob_btn {
  position: fixed;
  width: 70%;
  z-index: 999;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  letter-spacing: 1px;
}

